html {
    font-family: verdana, sans-serif;
    font-size: 11px;
    width: 100%;
}

body {
    padding-left: 5px;
    padding-right: 5px;
}

header {
/*          height: 100;*/
    margin-bottom: 10px;
    margin-right: 25px;
    font-family: "Avenir LT W01 85 Heavy","AvenirHeavy",arial,sans-serif;
}

#header-row {
    padding: 5px;  
}

p {
    font-family: verdana, sans-serif;
    font-size: 11px;
}

#logo-img {
    display: block;
    margin: 5px 10px 15px 5px;
    box-sizing: border-box;
    line-height: 1;
    float: left;
}

#main-page {
    height: 100%
}

#page-content {
    height: 100%;
    margin-left: 40px;
    margin-right: 30px;
}

#bijgewerkttot{
    margin-right: 20px;
}

#info_txt {
/*    padding: 0px;*/
    max-width: 650px;
}

#feiten_info {
    align-self: right;
}

.ul-main {
/*    margin: 0;*/
    padding-left: 11px;
    list-style: square;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

.ul-inner {
    list-style-type: none;
    font-family: verdana, sans-serif;
    font-size: 11px;
}
.ul-inner > li {
    text-indent: -10px;
    font-family: verdana, sans-serif;
    font-size: 11px;
}
.ul-inner > li:before {
    content: "- ";
    text-indent: -20px;
}
    
.svg-content {
    display: inline-block;
    top: 0;
    left: 0;
    max-width: 300px;
/*    max-height: 300px;*/
}

.svg-hor-cont {
    display: inline-block;
    top: 0;
    left: 0;
    max-width: 600px;
/*    max-height: 600px;*/
}

#subsidieTable {
    font-family: verdana, sans-serif;
    font-size: 11px;
    overflow: scroll;
    width: 100%;
}

#subsidieTable th {
    background-color: #333333;
    color: white;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

#subsidieTable tr:nth-child(odd) {
    width: 100%;
    background-color: #eee;
}


.check{
    display: inline;
    font-size: 11px;
    font-weight: 100;
}

label{
     display: block;
}

.bar {
  fill: #004699;
}

.axis {
    font-size: 10px;
    font-family: verdana, sans-serif;

}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis.hor path{
    display: none;
    shape-rendering: crispEdges;
}
.x.axis.hor path{
    display: flex;
}

.bar.notshown {
    fill: grey;
}

#nav-bar {
    height: 38px;
    background-color: #333333;
    margin-bottom: 10px;
    padding: 0px;
}

.navigation-toggle {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 0px 0px;
}

.navigation-toggle li {
    display: inline-block;
    width: 60px;
    height: 38px;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
}

.navigation-toggle a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 200;
    font-family: "Avenir LT W01 85 Heavy","AvenirHeavy",arial,sans-serif;

}

.tab.active {
    background-color: red;
}

#feiten_selectie {
    align-content: flex-end;
}

#page-footer-main {
    height: 38px;
    background-color: #333333;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}

#page-footer-content h4 {
    font-family: "Avenir LT W01 85 Heavy","AvenirHeavy",arial,sans-serif;
}

#page-footer-content {
    background-color: gray;
    margin-bottom: 10px;
    padding: 0px;
    color: whitesmoke;
    font-family: verdana, sans-serif;
    font-size: 11px;
}

#page-footer-content a {
    color: whitesmoke;
    text-decoration: underline;
}

#logo-Adam {
    margin: 1px;
    height: 90px;
    background-color: blue;
    background: url("../images/amsterdam-logo.png") top left no-repeat;
    background-size: 25px;
}

#logo-Adam a {
    display: block;
    color:  #F00000;
    font-size: 28px;
    line-height: 25px;
    text-decoration: none;
    font-weight: normal;
    margin-left: 20px;

}

#logo-Site {
    display: block;
    color: #F00000;
    font-size: 28px;
    line-height: 25px;
    padding-top: 5px;
    text-align: right;
}


#lijstFilter {
    padding-left: 0px;
}

.graph-head{
    text-align: left;
    margin-top: 15px;
    font-size: 21px;
    min-height: 42px;
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    font-family: "Avenir LT W01 85 Heavy","AvenirHeavy",arial,sans-serif;
}
.graph-head h3 {
    font-size: 18px;
    min-height: 46px;
}

.graph_graph {
    margin: 0px;
    padding: 0px;

}
.graph_text{
    padding-left: 0px;
    max-width: 650px;
    font-size: 11px;
    
}

.graph_text ul{
    max-width: 650px;
    font-size: 11px;
    padding-left: 11px;
    list-style: square;
}

.graph_text li{
    font-family: verdana, sans-serif;
    max-width: 650px;
    font-size: 11px;
    padding-left: 0px;
}

.graph_table {
    font-family: verdana, sans-serif;
    font-size: 11px;
    width: 100%;
}

.graph_table table{
    width: 100%;
}

.graph_table tr:nth-child(odd) {
    width: 100%;
    background-color: #eee;
}

.bartext {
    font-family: verdana, sans-serif;
    font-size: 10px;
}

.barsubtext {
    font-family: verdana, sans-serif;
    font-size: 11px;
}

#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 100;
}

#lijsten {
    width: 100%; 
    padding-left: 15px;
/*
    width: 100%;
    display: flex;
*/
}

#lijstFilter {
    width: 200px;
}

#dataTable {
    overflow-x: scroll;
/*
    flex: 1;
    overflow-x: scroll;
*/
}

.filter_label {
    font-family: "Avenir LT W01 85 Heavy","AvenirHeavy",arial,sans-serif;
}

.footer-block {
    margin-bottom: 10px;
}

#page-main-content a {
    color: inherit;
    text-decoration: underline;
    
}
#page-main-content a:hover {
    color: #F00000;
}


/*
.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 300px;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 10;
    left: 10;
}
*/

/*
.svg-container-hor {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 600px;
    vertical-align: top;
    overflow: hidden;
}
.svg-hor-cont {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
*/


