html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video{
    font-family: Avenir Heavy, sans-serif;
}

#mainContainer{
    min-height: 100%;
    margin: 10px;
}

h3{
    color: #FF0000;
}

.graph_head{
    align-content: center;
    text-align: center;
    padding: 0px;
    border-bottom-color: #333333;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}

.graph_content{
    padding: 10px 5px 10px 5px;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.bar.notshown {
    fill: grey;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.y.axis.hor path{
    display: none;
    shape-rendering: crispEdges;
    font-size: 12px;
}
.x.axis.hor path{
    display: flex;
}

.bartext{
    font: 12px sans-serif;
}

label{
     display: block;
}

.check{
    display: inline;
    font-size: 12px;
    font-weight: 100;
}

table{
    font-size: 12px;
    border-collapse: collapse; 
}
th, td{
    padding: 3px;
    align-content: left;
    
}
th{
    background-color:  #333333;
    color: white;
    font-size: 13px;
    background-repeat: no-repeat;
    background-position: 3% center;
}
tr:nth-of-type(odd) { 
    background: #eee; 
}
th.des:after {
  content: "\21E9";
}

th.aes:after {
  content: "\21E7";
}

.site_footer{
    background-color: #333333;
    color: white;
    //height: 60px;
    padding: auto;
    margin-top: 30px;
    padding-top: 30px;
    width: 98%;  
    color: white; 
    margin:0 auto;   
}
.inner_footer{
    background-color: #666666;
    padding: 10px 0px 0px 25px;
    height: 250px;
}

.footer_table, .footer_table th, .footer_table tr, .footer_table td{
    width: 250px;
    background-color: #666666;
}

.link_list_ul li {
   list-style: none;
   margin-left: 0px;
   padding-left: 1em;
   text-indent: -1em;
}
.link_list_ul a{
    color: white;
}

ul{
    text-align: left;
}