<br>
<div class="row">
        <div class="col-xs-12 col-md-4" >
        <p>Toon statistieken voor:</p><select id='fltrJaar' onchange="dataPrep()">
                                          <option value="2015">2015</option>
                                          <option value="2016">2016</option>
                                          <option value="2017">2017</option>
                                        </select>
            <br>
            <br>
            <p>Lorem ipsum dolor sit amet, in has theophrastus complectitur. Atqui errem tempor nam id. Mea ea dolor epicuri. Purto maiorum suscipit no sit, no sea invidunt expetenda. Vis ad legimus civibus, et ius omittam conceptam.</p><br>

            <p>In est integre fastidii, inani dolorem vix an. Eam dicta clita adversarium in, movet eruditi accumsan vel id. Ut equidem accumsan usu. At dicunt mollis partiendo sit, at liber officiis vim.</p><br>

            <p>Ex est sint eruditi. Mel appareat tractatos percipitur et, eos lorem indoctum te, sit debet fierent adipisci ut. Ut sed cetero bonorum. Has eu perfecto consectetuer. Nulla vulputate ut mea, eam ex quidam maiorum necessitatibus, mea ut mundi virtute inciderint.</p><br>

            <p>Mel dicta inermis eligendi ad, id choro intellegam eam, apeirian ullamcorper no mea. Soleat invenire cotidieque ius et, et paulo aliquid dissentiunt his, elitr maiestatis ius ut. Phaedrum voluptatibus at pri, at labores admodum invenire has. Facete moderatius comprehensam at mei.

                An sed errem quaerendum scribentur, cu his vero affert nostrud. Ut delenit mediocrem scripserit pri, et vix nisl ferri. Labores volumus omnesque nam ei, vel quod movet epicuri ex, pri dolore voluptua in. Cu sea viris meliore intellegam. Ea altera deseruisse efficiantur pri, duo amet iriure vidisse no. Iuvaret legimus fabellas et qui, sit homero corpora voluptaria id.</p><br>


        </div>
        <div class="col-xs-12 col-md-4">
            <div class='graph_head'>Aangevraagd en toegekend</div>
            <div class='graph_content' id="graph_aangevraagd_toegekend" align="center"></div>
            <div class='graph_text'>Totaal aangevraagd bedrag tegenover het werkelijk toegekende bedrag. </div>
            <hr>
            <div class='graph_table' id='table_aangevraagd' align='center'>
                <table>
                    <tbody>
                    <tr>
                        <td>Aangevraagd:</td>
                        <td id='aangevraagd'></td>
                    </tr>
                    <tr>
                        <td>Verleend:</td>
                        <td id='verleend'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class='graph_head'>Verdeling per type</div>
            <div class='graph_content' id="graph_periodiek"  align="center"></div>
            <div class='graph_text'>Toegekend subsidiebedrag verdeeld over de type "Periodiek" & "Eenmalig." </div>
            <hr>
            <div class='graph_table' id='table_periodiek' align='center'>
                <table>
                    <tbody>
                    <tr>
                        <td>Periodiek:</td>
                        <td id='periodiek'></td>
                    </tr>
                    <tr>
                        <td>Eenmalig:</td>
                        <td id='eenmalig'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <br>
<div class="row">
        <div class="col-xs-12  col-md-4" >
            <p>gereserveerd voor omschrijvende teksten</p>
        </div>
        <div class="col-xs-12 col-md-8" align="center">
            <div class='graph_head'>Toegekend bedrag per thema</div>
            <div class='graph_content' id="graph_thema"></div>
            <div class='graph_text'>Verdeling van het totaal toegekend bedrag per thema. </div>
        </div>
</div>


<!--<script src="../static/d3/d3.v3.min.js"></script>-->
<script src="static/custom_js/barchart.js" type="text/javascript"></script>
<script src="static/custom_js/horbarchart.js" type="text/javascript"></script>
<script src="static/custom_js/feiten.js" type="text/javascript"></script>

    