<br>
<div class="row">
        <div class="col-xs-12 col-md-4" >
        <p>Toon statistieken voor:</p><select id='fltrJaar' oninput="getDataAndRender()">
                                          <option value="2015">2015</option>
                                          <option value="2016">2016</option>
                                          <option value="2017">2017</option>
                                        </select>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class='graph_head'>Aangevraagd en toegekend</div>
            <div class='graph_content' id="graph_aangevraagd_toegekend"></div>
            <div class='graph_text'>Totaal aangevraagd bedrag tegenover het werkelijk toegekende bedrag. </div>
            <hr>
            <div class='graph_table' id='table_aangevraagd' align='center'>
                <table>
                    <tbody>
                    <tr>
                        <td>Aangevraagd:</td>
                        <td id='aangevraagd'></td>
                    </tr>
                    <tr>
                        <td>Verleend:</td>
                        <td id='verleend'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class='graph_head'>Verdeling per type</div>
            <div class='graph_content' id="graph_periodiek"></div>
            <div class='graph_text'>Toegekend subsidiebedrag verdeeld over de type "Periodiek" & "Eenmalig." </div>
            <hr>
            <div class='graph_table' id='table_periodiek' align='center'>
                <table>
                    <tbody>
                    <tr>
                        <td>Periodiek:</td>
                        <td id='periodiek'></td>
                    </tr>
                    <tr>
                        <td>Eenmalig:</td>
                        <td id='eenmalig'></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
        <br>
<div class="row">
        <div class="col-xs-12  col-md-4">
            <p>gereserveerd voor omschrijvende teksten</p>
        </div>
        <div class="col-xs-12 col-md-8">
            <div class='graph_head'>Toegekend bedrag per thema</div>
            <div class='graph_content' id="graph_thema"></div>
            <div class='graph_text'>Verdeling van het totaal toegekend bedrag per thema. </div>
        </div>
</div>


<script src="../static/d3/d3.v3.min.js"></script>

<script>

function Table_1(){
    var data =[];

    var margin = {top: 20, right: 20, bottom: 30, left: 80},
        width = 200 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var canvas = d3.select("#graph_aangevraagd_toegekend").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    canvas.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    canvas.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(-15,0)")
      .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("uitgekeerd bedrag (in duizenden)");


     this.redraw = function (data){
        x.domain(data.map(function(d) { return d.key; }));
        y.domain([0, d3.max(data, function(d) { return d.value; })]);

        canvas.select('.x.axis').transition().duration(300).call(xAxis);
        canvas.select(".y.axis").transition().duration(300).call(yAxis)

        var bars = canvas.selectAll(".bar").data(data, function(d) { return d.key; });

        bars.enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.key); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.value); })
          .attr("height", function(d) { return height - y(d.value); });

        bars.transition()
            .duration(1000)
            .attr("x", function(d) { return x(d.key); })
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d) { return height - y(d.value); });

        bars.exit().remove();    
    }

    this.redraw(data);
};



function Table_2(){
    var data =[];

    var margin = {top: 20, right: 20, bottom: 30, left: 80},
        width = 200 - margin.left - margin.right,
        height = 300 - margin.top - margin.bottom;

    var canvas = d3.select("#graph_periodiek").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    canvas.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    canvas.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(-15,0)")
      .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("uitgekeerd bedrag (in duizenden)");


     this.redraw = function (data){
        x.domain(data.map(function(d) { return d.key; }));
        y.domain([0, d3.max(data, function(d) { return d.values; })]);

        canvas.select('.x.axis').transition().duration(300).call(xAxis);
        canvas.select(".y.axis").transition().duration(300).call(yAxis)

        var bars = canvas.selectAll(".bar").data(data, function(d) { return d.key; });

        bars.enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.key); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.values); })
          .attr("height", function(d) { return height - y(d.values); });

        bars.transition()
            .duration(1000)
            .attr("x", function(d) { return x(d.key); })
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d.values); })
            .attr("height", function(d) { return height - y(d.values); });

        bars.exit().remove();    
    }

    this.redraw(data);
};
    
function Table_3(){
    var data =[]

    var margin = {top: 20, right: 20, bottom: 100, left: 80},
        width = 600 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var canvas = d3.select("#graph_thema").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left")
        .ticks(10);

    canvas.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0 ," + height + ")")
        .call(xAxis)
        .selectAll("text")
        .attr("y", 0)
        .attr("x", -8)
        .attr("dy", ".40em")
        .attr("transform", "rotate(-45  )")
        .style("text-anchor", "end");
    
    
    canvas.append("g")
      .attr("class", "y axis")
      .attr("transform", "translate(-15,0)")
      .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("uitgekeerd bedrag (in duizenden)");


     this.redraw = function (data){
        x.domain(data.map(function(d) { return d.key; }));
        y.domain([0, d3.max(data, function(d) { return d.values; })]);

        canvas.select('.x.axis').transition().duration(300).call(xAxis).selectAll("text")
        .attr("y", 0)
        .attr("x", -8)
        .attr("dy", ".40em")
        .attr("transform", "rotate(-45  )")
        .style("text-anchor", "end");
         
        canvas.select(".y.axis").transition().duration(300).call(yAxis)

        var bars = canvas.selectAll(".bar").data(data, function(d) { return d.key; });

        bars.enter().append("rect")
          .attr("class", "bar")
          .attr("x", function(d) { return x(d.key); })
          .attr("width", x.rangeBand())
          .attr("y", function(d) { return y(d.values); })
          .attr("height", function(d) { return height - y(d.values); });

        bars.transition()
            .duration(1000)
            .attr("x", function(d) { return x(d.key); })
            .attr("width", x.rangeBand())
            .attr("y", function(d) { return y(d.values); })
            .attr("height", function(d) { return height - y(d.values); });

        bars.exit().remove();    
    }

    this.redraw(data);
};
    
var t1 = new Table_1();
var t2 = new Table_2();
var t3 = new Table_3();
    
function type(d) {
    

  d.BEDRAG_VERLEEND = +d.BEDRAG_VERLEEND;
  d.BEDRAG_AANGEVRAAGD = +d.BEDRAG_AANGEVRAAGD; 
  d.SUBSIDIEJAAR = +d.SUBSIDIEJAAR;    
  return d;
};
    
    
function getDataAndRender(){    
    // dataload function 
    var NL = d3.locale({
            "decimal": ",",
            "thousands": ".",
            "grouping": [3],
            "currency": ["€ ", ""],
            "dateTime": "%a %b %e %X %Y",
            "date": "%m/%d/%Y",
            "time": "%H:%M:%S",
            "periods": ["AM", "PM"],
            "days": ["Zondag", "Maandag", "Dinsgag", "Woensdag", "Donderdag", "Vrijdag", "Zaterdag"],
            "shortDays": ["Zo", "Ma", "Di", "Woe", "Do", "Vrij", "Zat"],
            "months": ["januarie", "februarie", "Maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"],
            "shortMonths": ["Jan", "Feb", "Mar", "Apr", "Mei", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dec"]
        })
        //-------------------------
        
  var eur = NL.numberFormat("$,.2f");   
    
    
    var fltrJaar = d3.select("#fltrJaar").property("value");
    var ssv = d3.dsv(';')
    ssv("../static/data/subsidie_out2.csv", type, function(error, data_csv) {
        if (error) throw error;

        // filter the data on the choosen year
        data_csv = data_csv.filter( function(row) {return row['SUBSIDIEJAAR'] === +fltrJaar;});

        var data_vraag_verleend=[{'key':'Aangevraagd', 'value':d3.sum(data_csv, function(d){return d.BEDRAG_AANGEVRAAGD / 1000;})},
            {'key':'Verleend', 'value':d3.sum(data_csv, function(d){return d.BEDRAG_VERLEEND / 1000;})}];

        t1.redraw(data_vraag_verleend);

        d3.select('#aangevraagd').text(eur(data_vraag_verleend[0].value * 1000))
        d3.select('#verleend').text(eur(data_vraag_verleend[1].value * 1000))
        
        var data_periode = d3.nest()
          .key(function(d) { return d.TYPE_PERIODICITEIT;})
          .rollup(function(d) { 
           return d3.sum(d, function(g) {return g.BEDRAG_VERLEEND / 1000; });
          }).entries(data_csv);

        t2.redraw(data_periode);
        
        d3.select('#periodiek').text(eur(data_periode[0].values * 1000))
        d3.select('#eenmalig').text(eur(data_periode[1].values * 1000))
        
        
        var data_thema = d3.nest()
          .key(function(d) { return d.AFDELINGNAAM_BELEID;})
          .rollup(function(d) { 
           return d3.sum(d, function(g) {return g.BEDRAG_VERLEEND / 1000; });
          }).entries(data_csv);

        t3.redraw(data_thema)
        //draw_thema(data_thema);

    });
    
};
    
getDataAndRender();

</script>
    